APP_NAME=Football Lottery API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
REDIS_URL=redis://redis:6379/0
API_KEYS=change-me
FAST_REFRESH_INTERVAL_SECONDS=720
SLOW_REFRESH_INTERVAL_SECONDS=7200
REFRESH_LOCK_TTL_SECONDS=1800
CACHE_KEEP_VERSIONS=3
REDIS_KEY_PREFIX=lottery
PLAYWRIGHT_HEADLESS=true
RUN_SCHEDULER_IN_API=false
SCHEDULER_RUN_ON_STARTUP=true
SOURCE_URL=https://kt.59itou.com/2/user/12/shop/details/result_xcpmjW.html?id=54156441&reg_channel_type=kdcode_c&station_uuid=329640eji8qu1m1653302035
STATION_USER_ID=54156441
STATION_UUID=329640eji8qu1m1653302035
